<header class="header">
    <div class="container header-container">
        <a href="./index.html" class="logo-header_link">
            <picture>

                <source media="(min-width: 1440px)"
                    srcset="./images/logo/logo_desktop.png 1x, ./images/logo/logo_desktop@2x.png 2x">


                <source media="(min-width: 768px)"
                    srcset="./images/logo/logo_tablet.png 1x, ./images/logo/logo_tablet@2x.png 2x">


                <source media="(min-width: 320px)"
                    srcset="./images/logo/logo_mobile.png 1x, ./images/logo/logo_mobile@2x.png 2x">

                <img src="./images/logo/logo_mobile.png" alt="Логотип">
            </picture>
        </a>
        <nav class="header__navigation">
            <ul class="list header__menu-list">
                <li class="header__menu-list_item">
                    <a href="" class="header__menu-list-link">Головна</a>
                </li>
                <li class="header__menu-list_item">

                    <div class="header__menu-dropdown">
                        <a href="" class="header__menu-list-link header__menu_dropdown-btn">Послуги</a>
                        <div class="header__menu_dropdown-content">
                            <ul class="list">
                                <li>
                                    <a href="" class="menu-dropdown__link">3D Моделювання</a>
                                </li>
                                <li>
                                    <a href="" class="menu-dropdown__link">3D Сканування</a>
                                </li>
                                <li>
                                    <a href="" class="menu-dropdown__link">3D Друк</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="header__menu-list_item">
                    <a href="" class="header__menu-list-link">Замовити</a>
                </li>
                <li class="header__menu-list_item">
                    <a href="" class="header__menu-list-link">Контакти</a>
                </li>
            </ul>
        </nav>


        <button class="header__burger-btn">
            <svg class="header__burger-icon" width="32" height="32">
                <use href="./images/icons.svg#icon-burger-menu"></use>
            </svg>
        </button>

        <a href="" class="header__phone-icon_link">
            <svg class="header__phone-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
            </svg>
        </a>
        <div class="header__modal-phones">
            <div class="header__modal-phones_container">
                <ul class="modal-phones__list">
                    <li class="modal-phones__list_item">
                        <a href="" class="modal-phones__list_link">+38 (093) 643 22 88</a>
                    </li>
                    <li class="modal-phones__list_item">
                        <a href="" class="modal-phones__list_link">+38 (050) 345 44 23</a>
                    </li>
                </ul>
            </div>
        </div>


        <label for="lang" class=""></label>
        <select id="lang" name="lang" class="header__select">
            <option value="UA">UA</option>
            <option value="RU">RU</option>
            <option value="ENG" selected>ENG</option>
        </select>
        <ul class="list header__phones-list">
            <li class="header__phones-list_item">
                <svg class="header__phones-list_icon" width="14" height="14">
                    <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <a href="tel:+380936432288" class="header__phones-list_link">

                    +38 (093) 643 22 88
                </a>
            </li>
            <li class="header__phones-list_item">
                <svg class="header__phones-list_icon" width="14" height="14">
                    <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <a href="tel:+380503454423" class="header__phones-list_link">

                    +38 (050) 345 44 23
                </a>
            </li>
        </ul>
    </div>



</header>